.fabricjs-object-menu {
  position: fixed;
  display: none;
  background-color: var(--fjm-background-color);
  padding: var(--fjm-padding);
  z-index: var(--fjm-z-index);
  border-radius: var(--fjm-border-radius);
  font-family: var(--fjm-font-family);
  font-size: var(--fjm-font-size);
  user-select: none;
  flex-direction: column;
  border: 1px solid var(--fjm-border-color);
  opacity: 0.8;
}

.fabricjs-object-menu.active {
  display: flex;
}

.fabricjs-object-menu button {
  margin: var(--fjm-button-margin);
  cursor: var(--fjm-button-cursor);
  padding: var(--fjm-button-padding);
  background-color: var(--fjm-button-bg-color);
  border: 1px solid var(--fjm-button-border-color);
  border-radius: var(--fjm-button-border-radius);
  color: var(--fjm-button-color);
  font-size: var(--fjm-font-size);
  width: var(--fjm-button-width);
  text-align: var(--fjm-button-text-align);
  white-space: var(--fjm-button-white-space);
}

.fabricjs-object-menu button:hover {
  background-color: var(--fjm-button-hover-bg-color);
  color: var(--fjm-button-hover-color);
}

.fabricjs-object-menu button:active {
  background-color: var(--fjm-button-active-bg-color);
}