SP-MangaEditer/js/ai/ComfyUI/v2/*.js text eol=crlf
SP-MangaEditer/js/ai/ComfyUI/workflow/*.js text eol=crlf
SP-MangaEditer/js/ai/comfyui/*.js text eol=crlf
SP-MangaEditer/js/ai/ComfyUI/v2/comfyui-workflow-editor-tab.js text eol=crlf
SP-MangaEditer/js/ai/ComfyUI/v2/comfyui-workflow-editor.js text eol=lf
SP-MangaEditer/js/ai/ComfyUI/workflow/T2I_SDXL.js text eol=lf
SP-MangaEditer/js/ai/comfyui/comfyui-management.js text eol=lf