@import url('root.css');

@keyframes glow {
  50% {
    box-shadow: 0 0 20px var(--box-shadow-color);
  }
}

[anim="glow"]:not(.toggled) {
  animation: glow var(--animation-duration) var(--animation-timing);
}

article {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-article);
  align-items: center;
  justify-content: center;
  min-height: var(--min-height-article);
  position: relative;
  padding-block: var(--padding-block-article);
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-section);
  flex-basis: var(--flex-basis-section);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-family-section);
}
