@import url('root.css');

.controls-mini {
  min-height: 100%;
  max-width: 100%;
}
.controls-mini .control {
  position: relative;
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: visible;
}
.controls-mini input,
.controls-mini select {
  width: 100%;
  padding: 10px 8px 2px 8px;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--background-color-B);
  transition: 0.3s ease all;
  box-sizing: border-box;
}
.controls-mini .label {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #757575;
  pointer-events: none;
  transition: 0.3s ease all;
}
.controls-mini input:focus ~ .label,
.controls-mini input:not(:placeholder-shown) ~ .label,
.controls-mini select:focus ~ .label,
.controls-mini select:not(:placeholder-shown) ~ .label {
  top: 5px;
  font-size: 12px;
  color: var(--text-color-C);
}
.controls-mini .textarea-control {
  display: flex;
  flex-direction: column;
  height: auto;
}
.controls-mini .textarea-label-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.controls-mini .textarea-label {
  font-size: 12px;
  color: #757575;
}
.controls-mini textarea {
  width: 100%;
  min-height: 60px;
  max-height: 125px;
  resize: none;
  overflow-y: auto;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--background-color-B);
  box-sizing: border-box;
}
.controls-mini textarea:focus {
  outline: none;
}
.controls-mini input:focus,
.controls-mini select:focus {
  outline: none;
}
.controls-mini select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: 8px;
  background-color: var(--background-color-B);
  padding-right: 24px;
}
.controls-mini input[type="number"] {
  padding-right: 20px;
}
.controls-mini input[type="number"]::-webkit-inner-spin-button,
.controls-mini input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  cursor: pointer;
}
.controls-mini .dual-number-control {
  display: flex;
  justify-content: space-between;
}
.controls-mini .dual-number-control .control {
  width: 48%;
}