/* fallback */
@font-face {
 font-family: 'Material Icons';
 font-style: normal;
 font-weight: 400;
 src: url(https://fonts.gstatic.com/s/materialicons/v142/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
 font-family: 'Material Icons';
 font-weight: normal;
 font-style: normal;
 font-size: 22px;
 line-height: 1;
 letter-spacing: normal;
 text-transform: none;
 display: inline-block;
 white-space: nowrap;
 word-wrap: normal;
 direction: ltr;
 -webkit-font-smoothing: antialiased;
}


.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -2px 0;

 }
 .icon-label {
  font-size: 10px;
  margin-top: -20px;
 }