@import url('root.css');

#layer-content {
 overflow-y: auto;
 border: var(--border-2px-solid);
 height: var(--height-85vh);
 margin-bottom: var(--margin-bottom-5px);
}

.layer-item {
 display: flex;
 align-items: center;
 padding: var(--layer-item-padding);
 border-bottom: var(--boader-color-1px-solid-A);
 transition: var(--transition-bg-color);
}


.layer-item:hover,
.layer-item.active {
 background-color: var(--active-background-color-D);
}

.layer-preview {
 width: var(--layer-preview-width);
 height: var(--layer-preview-height);
 margin-right: var(--margin-right-5px);
 background-size: var(--bg-size-contain);
 background-repeat: var(--bg-repeat-no);
 background-position: var(--bg-position-center);
}

.layer-details {
 flex: var(--flex-2);
}

.layer-name {
 font-size: var(--font-size-base);
 flex-grow: 1;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
